#code-editor-container {
  height: 300px; /*Addded temporarily to test the height of the code editor*/
}

#code-editor-section{
height: 300px; /*Addded temporarily to test the height of the code editor*/
width:100%;
}
