<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="125.0.210" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="125.0.21" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="125.0.21" targetFramework="net472" />
  <package id="Microsoft.AnalysisServices.retail.amd64" version="19.74.2" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.43.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Ookii.Dialogs.WinForms" version="4.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>