<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="125.0.210" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="125.0.21" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="125.0.21" targetFramework="net472" />
  <package id="Microsoft.AnalysisServices.retail.amd64" version="19.74.2" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.43.0" targetFramework="net472" />
</packages>