<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BismNormalizer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BismNormalizer.Settings>
            <setting name="TargetServerAutoCompleteEntries" serializeAs="String">
                <value>localhost|</value>
            </setting>
            <setting name="TargetCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceServerAutoCompleteEntries" serializeAs="String">
                <value>localhost|</value>
            </setting>
            <setting name="SourceCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="InformationalMessagesVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningsVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionRoles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionPartitions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionMeasureDependencies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionPerspectives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionMergePerspectives" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionDisplayFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionActions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionTranslations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionProcessingOption" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="OptionTransaction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionAffectedTables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionCultures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionMergeCultures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptionRetainPartitions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionHighDpiLocal" serializeAs="String">
                <value>True</value>
            </setting>
        </BismNormalizer.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Utilities" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Imaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
